# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#Latex
*.aux
*.pdf
*.gz
*.synctex.gz

#Zetta
*.peers
*.devices

Raspberry_Pi/Backend/Zettalet/node_modules

Raspberry_Pi/Backend/Zettar/node_modules/express-cassandra/
Raspberry_Pi/Backend/Zettar/node_modules/zetta-insulin-pump-mock-driver/
Raspberry_Pi/Backend/Zettar/node_modules/zetta-mock-heartbeat-sensor/
Raspberry_Pi/Backend/Zettar/node_modules/zetta-thermometer-mock-driver/
Raspberry_Pi/Backend/Zettar/node_modules/zetta-glucose-meter-mock-driver/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*





#Marthinus's work space
Raspberry_Pi/Backend/Zettalet/.vs/
Raspberry_Pi/Backend/Zettalet/Zettalet.njsproj
Raspberry_Pi/Backend/Zettalet/Zettalet.njsproj.user
Raspberry_Pi/Backend/Zettalet/Zettalet.sln
Raspberry_Pi/Backend/Zettalet/bin/
Raspberry_Pi/Backend/Zettalet/obj/
Raspberry_Pi/Backend/Zettar/.vs/
Raspberry_Pi/Backend/Zettar/Zettar.njsproj
Raspberry_Pi/Backend/Zettar/Zettar.njsproj.user
Raspberry_Pi/Backend/Zettar/Zettar.sln
Raspberry_Pi/Backend/Zettar/bin/
Raspberry_Pi/Backend/Zettar/obj/
