# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#Latex
*.aux
*.pdf
*.gz
*.synctex.gz
*.out
*.toc

#Zetta
*.peers
*.devices

Raspberry_Pi/Backend/Zettalet/node_modules

Raspberry_Pi/Backend/Zettar/node_modules/express-cassandra/
Raspberry_Pi/Backend/Zettar/node_modules/zetta-insulin-pump-mock-driver/
Raspberry_Pi/Backend/Zettar/node_modules/zetta-mock-heartbeat-sensor/
Raspberry_Pi/Backend/Zettar/node_modules/zetta-thermometer-mock-driver/
Raspberry_Pi/Backend/Zettar/node_modules/zetta-glucose-meter-mock-driver/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

