# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#Latex
*.aux
*.gz
*.synctex.gz
*.out
*.toc

#Zetta
*.peers
*.devices
.DS_STORE
node_modules





#Marthinus's work space
Raspberry_Pi/Backend/Zettalet/.vs/
Raspberry_Pi/Backend/Zettalet/Zettalet.njsproj
Raspberry_Pi/Backend/Zettalet/Zettalet.njsproj.user
Raspberry_Pi/Backend/Zettalet/Zettalet.sln
Raspberry_Pi/Backend/Zettar/.vs/
Raspberry_Pi/Backend/Zettar/Zettar.njsproj
Raspberry_Pi/Backend/Zettar/Zettar.njsproj.user
Raspberry_Pi/Backend/Zettar/Zettar.sln
