<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zetta.android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ReVA"
        android:supportsRtl="false"
        android:theme="@style/AppThemeLight">

        <activity
            android:name=".browse.login_activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Form" />
        <activity
            android:name=".device.DeviceDetailsActivity"
            android:parentActivityName=".browse.MainActivity" />
        <activity
            android:name=".device.events.EventsActivity"
            android:parentActivityName=".device.DeviceDetailsActivity" />
        <activity
            android:exported="true"
            android:name=".browse.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".advice_page" />
        <activity
            android:name=".browse.Registration"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Form" />
        <activity
            android:name=".browse.Registration_Cont"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".browse.Registration_Patient"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />

        <activity android:name=".browse.AddSimpleStat"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLight" />

        <service android:name=".revawebsocketservice.RevaWebSocketService" />

        <receiver
            android:name=".revawebsocketservice.RevaBootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MoreGraph" />
        <activity
            android:name=".settings.settingsPage"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".browse.MainActivity"
            android:theme="@style/AppThemeLight">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zetta.android.browse.MainActivity" />
        </activity>
    </application>

</manifest>